tensorflow==2.7.0
opencv-python
matplotlib
Cython
pyforms
argparse
dill
fire
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
pandas
git+https://github.com/ppwwyyxx/tensorpack.git
git+https://github.com/adrianc-a/tf-slim.git@remove_contrib
numpy==1.22.2